<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>이벤트 모임 참가 신청 페이지</title>
  <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
  <link th:href="@{/css/event.css}" href="../static/css/event.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navigation/topBar :: topBar"></div>
<div class="container">
  <div class="box">
    <div class="content-box">
      <div class="event-box">
        <div class="left-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2vXhZBFff6uJkXKcKGeGqrje3TGiRYkE6UQ&usqp=CAU" alt="eventImg" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="right-box">
          <div class="row-box">
            <h2 th:text="${scheduledEvent.title}">이벤트 모임명</h2>
            <div>
              <b class="event-tag" th:text="${scheduledEvent.tag}">state</b>
              <p class="event-capacity" th:text="${'모집인원: ' + scheduledEvent.volunteer + '/' + scheduledEvent.capacity}">모집 인원: 00/00</p>
            </div>
          </div>
          <div class="column-box">
            <b>진행 시간</b>
            <p th:text="${scheduledEvent.date + ' ' + scheduledEvent.startTime + ' ~ ' + scheduledEvent.endTime}">0000.00.00 00:00 ~ 00:00</p>
          </div>
          <div>
            <b>참가 비용</b>
            <p th:text="${scheduledEvent.fee + '원'}">0</p>
          </div>
          <div>
            <b>모집 인원</b>
            <p th:text="${scheduledEvent.capacity + '명'}">0</p>
          </div>
          <div>
            <b>이벤트 소개</b>
            <p th:text="${scheduledEvent.content}">없음.</p>
          </div>
          <form th:action="@{'/entrant/entry/' + ${scheduledEvent.id}}" method="post">
            <button class="eventButton" >모임 참가 신청</button>
          </form>
        </div>
      </div>
      <div>
        <div class="district">
          <div class="menu-container">
            <div class="menu-content">
              <b class="b">이벤트 참가자</b>
              <b class="b">리뷰 작성자</b>
              <b class="b">평균 별점</b>
            </div>
            <hr>
            <div class="menu-content">
              <b class="b" th:text="${scheduledEvent.totalAttendedUser + '명'}">0명</b>
              <b class="center" th:text="${scheduledEvent.totalReviewedUser + '명'}">0명</b>
              <b class="b" th:text="${#numbers.formatDecimal(scheduledEvent.rating,1,1)}">★ 0.0점</b>
            </div>
          </div>
        </div>
        <div class="title-container">
          <h4 class="title">리뷰 목록</h4>
          <hr class="titleHr">
        </div>
        <div class="review-list" >
          <div class="review-user" th:each="review : ${reviews}">
            <div class="user-content">
              <p>회원아이디</p>
              <p class="userName" th:text="${review.userId}">userId</p>
              <hr>
              <p th:text="${review.date}">0000-00-00</p>
              <div class="row-box">
                <b>★</b>
                <p th:text="${review.rating}">0</p>
              </div>
            </div>
            <div class="user-content">
              <p th:text="${review.review}">후기 내용</p>
            </div>
          </div>
          <a th:href="@{/event/review(eventId=${scheduledEvent.id})}" class="link-review">-> 더 많은 리뷰 보러가기</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>