<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>선결제 주문 페이지</title>
  <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
  <link th:href="@{/css/user.css}" href="../static/css/user.css" rel="stylesheet">
</head>
<body>
<div class="title-container">
  <h4 class="title">모임 주문</h4>
  <hr class="titleHr">
</div>
<form th:action="@{/orders/reservation-form}" method="post">
  <input type="hidden" th:value="${0}" th:name="usedVoucherAmount">
  <input type="hidden" th:value="${reservationItem.id}" th:name="reservationItemId">
  <div class="container">
    <div class="box">
      <div class="content-box">
        <div class="district">
          <h4 class="content-title">주문 내역</h4>
          <hr>
          <div class="menu-container">
            <div class="menu-content">
              <b>메뉴</b>
              <b>수량</b>
              <b>가격</b>
            </div>
            <hr>
            <div th:each="cartItem : ${cartItems}" class="cartItems">
              <div class="menu-content">
                <b th:text="${cartItem.menu.name}">아메리카노</b>
                <b th:text="${cartItem.quantity}">3</b>
                <b id="cartItemPrice" th:text="${cartItem.getPrice()}">11,700</b>
              </div>
            </div>
          </div>
        </div>
        <div class="district">
          <h4 class="content-title">보유 중인 쿠폰</h4>
          <hr>
          <label>
            <select id="selectedCoupon">
              <option th:each="ownCoupon : ${ownCoupons}" th:value="${ownCoupon.id}" th:text="${ownCoupon.coupon.name + ' ' + ownCoupon.coupon.discountRatio + '%' + ' ' + ownCoupon.dueDate}"></option>
            </select>
          </label>
          <button type="button" onclick="confirmSelection()">확인</button>
        </div>
        <div class="district">
          <p>결제 내역</p>
          <div class="receipt-box">
            <th:block>
              <div class="space-between">
                <p class="receipt-title">선결제 금액</p>
                <p th:text="${priceDto.getPrepaymentAmount()}">50,000</p>
              </div>
            </th:block>
            <div class="space-between">
              <p class="receipt-title">주문금액</p>
              <p th:text="${priceDto.getTotalPrice()}">0</p>
              <input type="hidden" th:value="${priceDto.getTotalPrice()}" th:name="totalPrice">
            </div>
            <div class="space-between">
              <p class="receipt-title">할인 금액</p>
              <p th:text="${priceDto.getDiscountAmount()}">0</p>
            </div>
            <div class="discount-detail">
              <div class="row-box">
                <p class="discount-content">얼리버드 할인</p>
                <p class="discount-content" th:text="${reservationItem.earlybirdDiscountRatio + '%'}">5%</p>
                <input type="hidden" th:value="${reservationItem.earlybirdDiscountRatio}" th:name="earlybirdDiscountRatio">
              </div>
              <p class="discount-content" th:text="${priceDto.getEarlybirdDiscountAmount()}">0</p>
            </div>
            <div class="discount-detail">
              <div class="row-box">
                <p class="discount-content">주중 할인</p>
                <p class="discount-content" th:text="${reservationItem.weekdayDiscountRatio + '%'}">5%</p>
                <input type="hidden" th:value="${reservationItem.weekdayDiscountRatio}" th:name="weekdayDiscountRatio">
              </div>
              <p class="discount-content" th:text="${priceDto.getWeekdayDiscountAmount()}">0</p>
            </div>
            <th:block th:if="${priceDto.getOwnCouponId()}">
              <div class="discount-detail">
                <div class="row-box">
                  <p class="discount-content">쿠폰 할인</p>
                  <p class="discount-content" th:text="${priceDto.getCouponDiscountRatio() + '%'}"></p>
                  <input type="hidden" th:if="${priceDto.getOwnCouponId() != null}" th:value="${priceDto.getOwnCouponId()}" th:name="usedOwnCouponId">
                </div>
                <p class="discount-content" th:text="${priceDto.getCouponDiscountAmount()}">0</p>
              </div>
            </th:block>
            <input type="hidden" th:if="${priceDto.getOwnCouponId() == null}" th:value="${0}" th:name="usedOwnCouponId">
            <div class="discount-detail">
              <div class="row-box">
                <p class="discount-content">등급 할인</p>
                <p class="discount-content" th:text="${priceDto.getLevelDiscountRatio() + '%'}"></p>
                <input type="hidden" th:value="${priceDto.getLevelDiscountRatio()}" th:name="levelDiscountRatio">
              </div>
              <p class="discount-content" th:text="${priceDto.getLevelDiscountAmount()}">0</p>
            </div>
            <div class="space-between">
              <p class="receipt-title">적립 예정 코인</p>
              <p th:text="${priceDto.getCoin()}">5</p>
            </div>
            <p class="discount-content"><span>다음 달 등급 </span><strong><span th:text="${levelInfo.getNextLevel()}"></span></strong><span>의 이번 달 기준 커트라인까지 </span>
              <strong><span th:text="${levelInfo.getShortage()}"></span></strong><span> 코인 남았습니다.</span></p>
          </div>
        </div>
        <div class="district">
          <div class="menu-container">
            <div class="pay-box">
              <div>
                <b>총 결제 금액</b>
                <b th:text="${priceDto.getTotalPrice() - priceDto.getDiscountAmount()}">59,585</b>
              </div>
              <div>
                <b>선결제 금액</b>
                <b th:text="${priceDto.getPrepaymentAmount()}">50,000</b>
                <input type="hidden" th:value="${priceDto.getPrepaymentAmount()}" th:name="usedPrepaymentAmount">
              </div>
              <hr class="width-hr">
              <div>
                <b>추가 결제 금액</b>
                <b th:text="${priceDto.getAdditionalAmount()}">0</b>
                <input type="hidden" th:value="${priceDto.getAdditionalAmount()}" th:name="finalPayment">
              </div>
            </div>
          </div>
        </div>
        <div class="district">
          <h4 class="content-title">추가 결제 금액</h4>
          <hr>
          <p>결제 수단 선택</p>
          <select name="paymentMethod" id="" class="select-pay">
            <option value="">결제수단을 선택해 주세요.</option>
            <option value="CREDIT">신용카드</option>
            <option value="CASH">현금</option>
            <option value="KAKAO">카카오페이</option>
          </select>
        </div>
      </div>
    </div>
    <div class="order-button-box">
      <button type="button" th:onclick="|location.href='@{/}'|" class="cancleButton">취소 하기</button>
      <button type="submit" class="okButton" th:text="${priceDto.getAdditionalAmount() + '원 결제 및 주문하기'}">9,585원 결제 및 주문하기</button>
    </div>
  </div>
</form>
<script>
  function confirmSelection() {
    var selectedCouponId = document.getElementById("selectedCoupon").value;
    console.log(selectedCouponId);
    window.location.href = "/orders/reservation-button/" + selectedCouponId;
  }
</script>
</body>
</html>