<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>DB Cafe</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/userPrize.css}" type="text/css"/>
        <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
    </head>
    <body>
    <div th:insert="fragments/navigation/topBar :: topBar"></div>
        <div id="basic">
            <div class="content">
                <div class="prizeRelative">
                    <div class="prizeList">
                        <span> 상품 목록 </span>
                        <hr class="detail_hr">
                        <th:block th:each="prize: ${prizes}">
                        <span>
                            <p th:text="${prize.name}"></p>
                        </span>
                        </th:block>
                    </div>
                    <div class="recentPrize">
                        <span> 최근 뽑은 상품 </span>
                        <hr class="detail_hr">
                        <span>
                            <p th:text="${last.prize.name}"></p>
                            <p th:text="${last.createdAt}"></p>
                        </span>
                    </div>
                </div>


                <div class="gameContent">
                    <div class="gameBoxImage">
                        <img th:src="@{/image/GameImage.jpg}" alt="이미지 로딩 실패">
                    </div>
                    <div class="text">
                        <span> 오늘 도전 가능 횟수: <span th:text="${userInfo.prizeChance}"></span>번 </span>
                        <span> 보유 중인 코인 갯수: <span th:text="${userInfo.coin}"></span>개</span>
                    </div>
                    <form th:action method="post">
                        <button type="submit" class="btn" name="">
                            <div class="gameBtn">
                                <div class="leftBox">
                                    <img th:src="@{/image/coinImage.png}" alt="이미지 로딩 실패">
                                    <span>
                                        x 1
                                    </span>
                                </div>
                                <div class="rightBox">
                                    <span> 뽑기 도전 </span>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>


                <div class="drawResult">
                    <span>당첨 현황</span>
                    <hr class="detail_hr">
                    <table>
                        <thead>
                            <tr>
                                <th>유저 ID</th>
                                <th>상품명</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody th:each="histrorie: ${histrories}">
                            <tr>
                                <td th:text="${histrorie.userId}"></td>
                                <td th:text="${histrorie.prizeName}"></td>
                                <td th:text="${histrorie.date}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
