.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prizeList {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    transform: translateX(-200px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.prizeList span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.prizeList span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

.gameBoxImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.gameContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameContent .text {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameContent .gameBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameContent .btn{
    border: none;
    background-color: transparent;
}

.gameContent .gameBtn .leftBox {
    width: 182px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background: #66371D;
    border: 1px solid #66371D;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.gameContent .gameBtn .rightBox {
    width: 182px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background: #4A2714;
    border: 1px solid #4A2714;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.prizeRelative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.recentPrize {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    transform: translateX(-200px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.recentPrize span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.recentPrize span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

.drawResult {
    width: 400px;
    height: 520px;
    border: 1px solid black;
    transform: translateX(200px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.drawResult span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.drawResult span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

.drawResult table thead tr th {
    width: 133px;
    height: 30px;
    border-bottom: 1px solid black;
}

.drawResult table tbody tr td {
    width: 133px;
    height: 30px;
    border-bottom: 1px solid black;
}
