<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>메인페이지</title>
  <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
  <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
</head>
<body>
  <div th:insert="fragments/navigation/topBar :: topBar"></div>
  <p>중간바</p>
  <div class="container">
    <div class="box">
      <div class="content-box">
      <div class="add-data-box">
          <form th:action="@{/add-data-button}" method="get">
              <button id="add-data-button"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  데이터 추가 버튼
              </button>
          </form>
          <form th:action="@{/user/login-low}" method="post">
              <button id="lowUser"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  누적낮은사용자로그인
              </button>
          </form>
          <form th:action="@{/user/login-high}" method="post">
              <button id="highUser"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  누적높은사용자로그인
              </button>
          </form>
          <form th:action="@{/user/login-next}" method="post">
              <button id="nextUser"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  기능써보는사용자로그인
              </button>
          </form>
          <form th:action="@{/user/login-admin}" method="post">
              <button id="admin"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  어드민로그인
              </button>
          </form>
          <form th:action="@{/scheduled-event/attend}" method="post">
              <button id="attend"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  이벤트모임출석했다치고
              </button>
          </form>
          <form th:action="@{/orders/reservation-form}" method="get">
              <button id="order-reservation"
                      type="submit"
                      style="text-decoration-color: black;
                            color: black;">
                  모임방문메뉴주문
              </button>
          </form>
      </div>
        <div class="list">
          <div class="title-box">
            <h2>모집중인 이벤트 모임</h2>
            <hr>
          </div>
          <div class="event-list">
              <div th:each="scheduledEvent : ${scheduledEvents}" class="event-box">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2vXhZBFff6uJkXKcKGeGqrje3TGiRYkE6UQ&usqp=CAU" alt="eventImg" class="eventImg">
                  <p class="event-capacity" th:text="${'모집인원: ' + scheduledEvent.volunteer + '/' + scheduledEvent.capacity}">모집인원: 00/00</p>
                  <div class="event-content">
                      <div class="event-row">
                          <a th:if="${session.loggedInUser} != admin" th:href="@{/scheduled-event/detail(id=${scheduledEvent.id})}"><h4 class="event-title" th:text="${scheduledEvent.title}">이벤트 모임명</h4></a>
                          <a th:if="${session.loggedInUser} == admin" th:href="'/scheduled-event/entrant-list' + '?scheduledEventId=' + ${scheduledEvent.id}"><h4 class="event-title" th:text="${scheduledEvent.title}">이벤트 모임명</h4></a>
                          <b class="event-tag" th:text="${scheduledEvent.tag}" th:if="${scheduledEvent.tag eq null or scheduledEvent.tag eq '해당사항 없음'}" style="display: none;"></b>
                          <b class="event-tag" th:text="${scheduledEvent.tag}" th:unless="${scheduledEvent.tag eq null or scheduledEvent.tag eq '해당사항 없음'}"></b>
                      </div>
                      <div class="event-row">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROyCM4hDrN0YRWZ7POalvuYvDID4CeOpYuJg&usqp=CAU" alt="stars" class="event-ratingImg">
                          <p th:text="${#numbers.formatDecimal(scheduledEvent.rating,1,1)}">0.0</p>
                      </div>
                  </div>
                  <div class="event-date">
                      <p th:text="${scheduledEvent.date}">0000.00.00</p>
                      <p th:text="${scheduledEvent.startTime + '~' + scheduledEvent.endTime}">오전00:00~오후00:00</p>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <form th:action="@{/search}" method="get">
            <div class="search-box">
                <input type="text" class="search-input" name="keyword" placeholder="검색어를 입력하세요." autocomplete='off'>
                <button class="search-button" type="submit">검색</button>
            </div>
        </form>
        <div class="list">
          <div class="title-box">
            <h2>메뉴</h2>
            <hr>
          </div>
          <div class="menu-container">
              <div  class="menu-list">
                  <div th:each="menu : ${menus}" class="menu-box">
                      <img th:if="${menu.img != null}" th:src="${menu.img}" alt="menuImg" class="eventImg">
                      <img th:unless="${menu.img != null}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2vXhZBFff6uJkXKcKGeGqrje3TGiRYkE6UQ&usqp=CAU" alt="defaultImg" class="eventImg">
                      <h4 class="menu-title" th:text="${menu.name}">메뉴명</h4>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>